<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ShipConnectionString" connectionString="Server=AIMSUSER048-PC\SQLEXPRESS2014;UID=sa; Password=aims2018; Initial Catalog=Shipment;Trusted_Connection=false; Min Pool Size=1; Max Pool Size= 1000; Connection LifeTime = 120; connection reset=false; Connect Timeout=120;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

</configuration>